/*====================Importing Icon StyleSheet========================*/
@import url("Icon.css");
/*===================Ending Of Importing=========================*/

/*====================Importing Include Page's StyleSheet========================*/
@import url("IncludePage.css");
/*===================Ending Of Include Page's StyleSheet=========================*/



.HeaderCls{background-color:#1F548A;margin-bottom:5px;}
.FooterCls{background-color:#1F548A;margin-top:5px;}

.SiteMapLink
{
    color: #333333;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    cursor:pointer;	
}
	
.SiteMapLink:hover
{    
    color:#000033;
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
}

#ErrorMsg
{
			padding:8px;
			border:1px solid #F0C36D;
			background-color:#F9EDBE;	
}

/*====================Style For LIstView========================*/
#lstViewItem{padding:4px;border:1px solid #DFE8F6;}
#lstViewItem:hover{padding:4px;border: 1px #66ff66 solid;background-color: #ccffcc;cursor: pointer;}
/*====================Ending For ListView========================*/


/*====================Style For Table Type Gridview========================*/
#tablegrid .x-table-layout { border: 1px solid #F0C36D; border-collapse: collapse;margin-top:5px;background-color:#F9EDBE; }
#tablegrid .x-table-layout td { border: 1px solid #F0C36D; padding:5px;background-color:#F9EDBE;}
/*====================Ending of Style For Table Type Gridview========================*/

/*====================Style For Table Type Gridview========================*/
.tablegrid .x-table-layout { border: 1px solid #F0C36D; border-collapse: collapse;margin-top:5px;background-color:#F9EDBE; }
.tablegrid .x-table-layout td { border: 1px solid #F0C36D; padding:5px;background-color:#F9EDBE;width:25%}
.tablegrid input[type='text'] { margin-left:40px;}
/*====================Ending of Style For Table Type Gridview========================*/

.extTbl .x-table-layout { border: 0.5px solid silver; border-collapse: collapse;margin-top:5px;width:100% }
.extTbl .x-table-layout td { border: 0.5px solid silver; padding:5px;}



.TxtRight{
text-align: right;
}
.x-grid3-row td {
    font-family: 'Brush Script MT';
    font-weight: bold;
}

.LblCenter{
	font-weight:bold;
	text-align:center;
}
