/*====================Importing Icon StyleSheet========================*/
@import url("../../resources/css/Icon.css");
/*===================Ending Of Importing=========================*/
/*.irdheader,.irdheader *
{
    height:35px;padding-top:5px;
    text-align:center;
    font-size:18px;
    color: #04408C;padding:20px auto;
    background: url("../images/headerbgIRD.png") repeat-x scroll 0 0 transparent;
       background-image:-moz-linear-gradient(center top , #DAE7F6, #CDDEF3 45%, #ABC7EC 46%, #ABC7EC 50%, #B8CFEE 51%, #CBDDF3);
}*/

.irdheader, .irdheader *
{
	background-image: -moz-linear-gradient(center top , #CBDDF3, #CDDEF3 45%, #ABC7EC 46%, #CDDEF3 50%, #B8CFEE 51%, #CBDDF3);
	color: #4A4BAB;
	font-family: courier new;
	font-size: 18px;
	font-weight: bold;
	height: 35px;
	padding-top: 5px;
	text-align: center;
}

#mainContent
{
	padding: 2px;
}

.x-fieldset-header .x-fieldset-header-text
{
	color: Black;
	font-family: vardana;
	font-weight: bold;
}

.x-form-invalid-field, textarea.x-form-invalid-field
{
	background-color: white;
	background-image: none;
	background-position: center bottom;
	background-repeat: repeat-x;
	border-color: #CC3300;
}