.x-tree-icon-Tax-Reg
{
	background-image: url('../../resources/images/icons/register.png');
}
.x-tree-icon-Client-Reg
{
	background-image: url('../../resources/images/icons/cancel.png');
}
.x-tree-icon-Tamily-type
{
	background-image: url('../../resources/images/icons/filesave.png');
}
.x-tree-icon-Login
{
	background-image: url('../../resources/images/icons/login.png');
}
.x-tree-icon-Register
{
	background-image: url('../../resources/images/icons/register.png');
}